no service pad
service tcp-keepalives-in
service tcp-keepalives-out
service timestamps debug datetime msec localtime show-timezone year
service timestamps log datetime msec localtime show-timezone year
service password-encryption
service linenumber
service compress-config
service sequence-numbers
!
hostname {{ hostname }}
!
boot-start-marker
boot-end-marker
!
vrf definition Mgmt-intf
 !
 address-family ipv4
 exit-address-family
 !
 address-family ipv6
 exit-address-family
!
aaa new-model
no ip bootp server
spanning-tree extend system-id
lldp run
!

{% for intf in interfaces %}
{% if intf.used %}
interface {{ intf.name }}
  description {{ intf.description }}
  {% if intf.mode == "access" %}
  switchport mode access
  switchport access vlan {{ intf.vlan }}
  no shutdown
  {% elif intf.mode == "trunk" %}
  switchport mode trunk
  switchport trunk allowed vlan {{ intf.vlans | join(',') }}
  no shutdown
  {% elif intf.mode == "routed" %}
  no switchport
  ip address {{ intf.ip }} {{ intf.mask }}
  no shutdown
  {% endif %}
!
{% else %}
default interface {{ intf.name }}
interface {{ intf.name }}
  shutdown
!
{% endif %}
{% endfor %}

{% for svi in svis %}
interface vlan {{ svi.vlan }}
  ip address {{ svi.ip }} {{ svi.mask }}
  no shutdown
!
{% endfor %}

snmp-server community {{ snmp.community }} RO
snmp-server location {{ snmp.location }}
!
logging source-interface {{ logging.source_interface }}
{% for host in logging.hosts %}
logging host {{ host.ip }} transport udp port {{ host.port }}
{% endfor %}
!
{% for server in ntp_servers %}
ntp server {{ server }}
{% endfor %}
!
{% for tacacs in tacacs_servers %}
tacacs server {{ tacacs.name }}
  address ipv4 {{ tacacs.ip }}
  port {{ tacacs.port }}
  key {{ tacacs.key }}
  single-connection
!
{% endfor %}
aaa group server tacacs+ Techit_Tac_Grp
{% for tacacs in tacacs_servers %}
  server name {{ tacacs.name }}
{% endfor %}
!!! Change to MGMT VLAN, use only if required !!!
!!! ip tacacs source-interface vlan 300
!
{% for ns in name_servers %}
ip name-server {{ ns }}
{% endfor %}
!
line con 0
 logging synchronous
 stopbits 1
line aux 0
 stopbits 1
end
