# jinja2: lstrip_blocks: True, trim_blocks: True
version 15.2
no service pad
service tcp-keepalives-in
service tcp-keepalives-out
service timestamps debug datetime msec localtime show-timezone year
service timestamps log datetime msec localtime show-timezone year
service password-encryption
service linenumber
service compress-config
service sequence-numbers
!
hostname {{ hostname }}
!
boot-start-marker
boot-end-marker
!
!
vrf definition Mgmt-intf
 address-family ipv4
 exit-address-family
 address-family ipv6
 exit-address-family
!
enable secret {{ enable_secret }}
!
username admin privilege 15 password 7 {{ admin_password }}
aaa new-model
!
aaa group server tacacs+ gns3group
{% for server in tacacs_servers_gns3 %}
 server name {{ server }}
{% endfor %}
!
aaa group server tacacs+ Techit_Tac_Grp
{% for server in tacacs_servers_techit %}
 server name {{ server }}
{% endfor %}
!
aaa authentication login default group gns3group local
aaa authentication login Console_AAA local group gns3group
aaa authentication login Remote_AAA local group gns3group
aaa authentication enable default group gns3group enable
aaa authorization console
aaa authorization config-commands
aaa authorization exec default group gns3group local if-authenticated
aaa authorization exec Remote_AAA local group gns3group if-authenticated
aaa authorization exec Console_AAA local group gns3group if-authenticated
aaa authorization commands 1 Remote_AAA local group gns3group
aaa authorization commands 1 Console_AAA local group gns3group
aaa authorization commands 15 Remote_AAA local group gns3group
aaa authorization commands 15 Console_AAA local group gns3group
aaa accounting exec default start-stop group gns3group
aaa accounting exec Remote_AAA start-stop group gns3group
aaa accounting commands 1 default start-stop group gns3group
aaa accounting commands 1 Remote_AAA start-stop group gns3group
aaa accounting commands 15 default start-stop group gns3group
aaa accounting commands 15 Remote_AAA start-stop group gns3group
!
aaa session-id common
!
no ip bootp server
ip domain-name {{ domain_name }}
{% for ns in name_servers %}
ip name-server {{ ns }}
{% endfor %}
ip cef
no ipv6 cef
!
archive
 log config
  logging enable
  notify syslog contenttype plaintext
  hidekeys
!
spanning-tree mode rapid-pvst
spanning-tree extend system-id
!
vlan internal allocation policy ascending
lldp run
!
{% for intf in interfaces %}
interface {{ intf.name }}
{% if intf.description %}
 description {{ intf.description }}
{% endif %}

{% if intf.mode and intf.mode.value in ["tagged", "tagged-all"] %}
    {% set vlan_list = intf.tagged_vlans | map(attribute='vid') | map('int') | list | unique | sort %}
    {% set ranges = [] %}
    {% if vlan_list %}
        {% set start = vlan_list[0] %}
        {% set prev = start %}
        {% for vlan in vlan_list[1:] %}
            {% if vlan == prev + 1 %}
                {% set prev = vlan %}
            {% else %}
                {% if start == prev %}
                    {% set _ = ranges.append(start|string) %}
                {% else %}
                    {% set _ = ranges.append(start|string ~ '-' ~ prev|string) %}
                {% endif %}
                {% set start = vlan %}
                {% set prev = vlan %}
            {% endif %}
        {% endfor %}
        {% if start == prev %}
            {% set _ = ranges.append(start|string) %}
        {% else %}
            {% set _ = ranges.append(start|string ~ '-' ~ prev|string) %}
        {% endif %}
    {% endif %}
    switchport trunk allowed vlan {{ ranges | join(',') }}
    switchport trunk encapsulation dot1q
    switchport mode trunk
    logging event trunk-status
{% elif intf.mode and intf.mode.value == "access" %}
    switchport access vlan {{ intf.access_vlan }}
    switchport mode access
{% elif intf.mode and intf.mode.value == "none" %}
    no switchport
    {% if intf.ip_address %}
    ip address {{ intf.ip_address }} {{ intf.mask }}
    {% endif %}
{% endif %}

 media-type rj45
 negotiation auto
{% if intf.shutdown %}
 shutdown
{% endif %}
 spanning-tree guard loop
!
{% endfor %}

ip default-gateway {{ default_gateway }}
ip forward-protocol nd
!
no ip http server
no ip http secure-server
!
{% for route in static_routes %}
ip route {{ route.network }} {{ route.mask }} {{ route.next_hop }}
{% endfor %}
ip tacacs source-interface {{ tacacs_source_interface }}
ip ssh version 2
!
ip access-list standard HomeSnmpReadAcl
{% for acl in snmp_acl %}
 permit {{ acl }}
{% endfor %}
!
logging source-interface {{ logging_source_interface }}
{% for log_host in logging_hosts %}
logging host {{ log_host.address }} transport {{ log_host.transport }} port {{ log_host.port }}
{% endfor %}
!
snmp-server community {{ snmp_community }} RO
snmp-server location {{ snmp_location }}
{% for tacacs in tacacs_servers %}
tacacs server {{ tacacs.name }}
 address ipv4 {{ tacacs.address }}
 key {{ tacacs.key }}
{% if tacacs.single_connection %}
 single-connection
{% endif %}
{% endfor %}
!
control-plane
!
banner exec ^C
**************************************************************************
* IOSv is strictly limited to use for evaluation, demonstration and IOS  *
* education. IOSv is provided as-is and is not supported by Cisco's      *
* Technical Advisory Center. Any use or disclosure, in whole or in part, *
* of the IOSv Software or Documentation to any third party for any       *
* purposes is expressly prohibited except as otherwise authorized by     *
* Cisco in writing.                                                      *
**************************************************************************^C
banner incoming ^C
**************************************************************************
* IOSv is strictly limited to use for evaluation, demonstration and IOS  *
* education. IOSv is provided as-is and is not supported by Cisco's      *
* Technical Advisory Center. Any use or disclosure, in whole or in part, *
* of the IOSv Software or Documentation to any third party for any       *
* purposes is expressly prohibited except as otherwise authorized by     *
* Cisco in writing.                                                      *
**************************************************************************^C
banner login ^C
**************************************************************************
* IOSv is strictly limited to use for evaluation, demonstration and IOS  *
* education. IOSv is provided as-is and is not supported by Cisco's      *
* Technical Advisory Center. Any use or disclosure, in whole or in part, *
* of the IOSv Software or Documentation to any third party for any       *
* purposes is expressly prohibited except as otherwise authorized by     *
* Cisco in writing.                                                      *
**************************************************************************^C
!
line con 0
 exec-timeout 30 0
 authorization exec Console_AAA
 logging synchronous
 login authentication Console_AAA
 transport preferred none
 stopbits 1
line aux 0
 stopbits 1
line vty 0 4
 session-timeout 30
 exec-timeout 30 0
 authorization commands 1 Remote_AAA
 authorization commands 15 Remote_AAA
 authorization exec Remote_AAA
 accounting commands 1 Remote_AAA
 accounting commands 15 Remote_AAA
 accounting exec Remote_AAA
 logging synchronous
 login authentication Remote_AAA
 transport preferred none
 transport input all
line vty 5 15
 logging synchronous
!
{% for ntp in ntp_servers %}
ntp server {{ ntp }}
{% endfor %}
!
end
